img {
  width: 234px;
  height: 348px;
}

.grid__item {
  max-width: 234px;
  padding: 0 5px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.card-content {
  min-height: 140px;
  
}

.card-title {
  width: 100%;
  
  
}

.black-text:hover {
  font-weight: 600;
  background-color: rgb(218, 178, 131);
}

* {
  box-sizing: border-box;
}
