
<div class="grid">
  <form (ngSubmit)="send(_id, dialogOne )" class="container">
    <div class="row">
      <div class="input-field col s8">
        <input [(ngModel)]="model.sectionName" id="sectionName" name="sectionName" type="text" [placeholder]="this.data[0].sectionName" />
        
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8">
        <input  [(ngModel)]="model.textName" id="textName" name="textName" type="text" [placeholder]="this.data[0].textName"/>
        
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8">
        <input [(ngModel)]="model.pl" id="pl" name="pl" type="text" [placeholder]="this.data[0].pl"/>
        
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8">
        <input [(ngModel)]="model.en" id="en" name="en" type="text" [placeholder]="this.data[0].en" />
        
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8">
        <input [(ngModel)]="model.de" id="de" name="de" type="text" [placeholder]="this.data[0].de" />
        
      </div>
    </div>

    <button class="btn-small" type="submit">Submit</button>
    <button class="btn-small red" type="reset">Reset</button>
  </form>
</div>




