
.mat-card  {
  border-color: rgb(239, 216, 216);
  background-color: #8b85c7;

}

.mat-checkbox  {
  border-color: rgb(239, 216, 216);
  background-color: #8b85c7;

}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {


  width: 18px;
  height: 18px;

  border-color: rgb(239, 216, 216);
  background-color: #8b85c7;
}
.mat-card-content
{
  

  border-color: rgb(239, 216, 216);
  background-color: #8b85c7;
}
.mat-select{
  border-color: rgb(239, 216, 216);
  background-color: #8b85c7;
}
.cdk-overlay-container{
  border-color: rgb(239, 216, 216);
  background-color: #8b85c7;
}
.mat-form-field
{
  border-color: rgb(239, 216, 216);
  background-color: #8b85c7;
}
