<p>Dialogs list</p>

<div class="dialogs">
  <table class="stripped">
    <thead class="card blue darken-4 card-content white-text">

      <th class="card blue darken-4 card-content white-text">Section</th>
      <th class="card blue darken-4 card-content white-text">Name of Dialog</th>
      <th class="card blue darken-4 card-content white-text">Text PL</th>
      <th class="card blue darken-4 card-content white-text">Text EN</th>
      <th class="card blue darken-4 card-content white-text">Text DE</th>
    </thead>
    <tbody>



          <ng-container *ngFor="let dialog of dialogs">
            <p>{{dialog.dialogName}}</p>
            <ng-container *ngFor="let dialogSegment of dialog.segments">
              <tr>
                  <td class="card cyan ">{{dialogSegment.fileName}}</td>
                  <td class="card blue">{{dialogSegment.textDuration}}</td>
                  <td class="card blue">{{dialogSegment.characterName}}</td>
                  <td class="card blue">{{dialogSegment.characterSprite}}</td>
                  <td class="card cyan">{{dialogSegment.pl}}</td>
                  <td class="card blue">{{dialogSegment.en}}</td>
                  <td class="card cyan">{{dialogSegment.de}}</td>
              </tr>
            </ng-container>
          </ng-container>


    </tbody>
 </table>
</div>
